<!DOCTYPE html>
<html>

<head>
    <script>
        window.onload = function () {
            // Initial Setup
            let height = 400
            let width = 400

            let canvas = document.getElementById('canvas')
            let ctx = canvas.getContext('2d')
            let img = document.getElementById('image')

            ctx.drawImage(img, 0, 0)

            console.log('drawing bg')
        }
    </script>
</head>

<body>
    <div class="container">
        <canvas id="canvas" width="400px" height="400px">

        </canvas>

        <img id="image" src="test.jpg">
    </div>
</body>

</html>