.card-text {
    font-size: smaller;
}
.btn-add-video {
    margin: 0;
    padding: 0 0 0 20px;
}
.card-video-container {
    width: 200px;
    padding: 0;
    margin: 10px 20px 20px 20px;
}
.video-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-buttons button {
    margin: 0 5px 0 5px;
}
.btn-modal-add-video {
    width: 80%;
}
.btn-update-video-stream {
    width: 85%;
}